name: SportsBot
on:
  schedule:
    - cron: '*/20 * * * *'
  workflow_dispatch:
jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Copy Code
        uses: actions/checkout@v3
      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Requests
        run: pip install requests
      - name: Run
        run: python scraper.py
      - name: Save File
        run: |
          git config --global user.name "bot"
          git config --global user.email "bot@github.com"
          git add mysports.m3u
          git commit -m "Update" || exit 0
          git push
