name: Auto Update
on:
  schedule:
    - cron: '0 0 * * *' # প্রতিদিন আপডেট হবে
  workflow_dispatch:      # আপনি চাইলে নিজেও বাটন টিপে আপডেট করতে পারবেন
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install requests
        run: pip install requests
      - name: Run script
        run: python update_playlist.py
      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "action@github.com"
          git add playlist.m3u8
          git commit -m "Auto update" || exit 0
          git push
